<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>car Pooling</title>

</head>

<body>
    <h1><img src="../assets/images/car.png"> free rides</h1>
    <form (ngSubmit)="OnSubmit(data)" #data="ngForm">
        <h2><b> Admin Login</b></h2>
        <div class="row">
       <input type="text" ngModel name="username" placeholder="username" required>
       </div>
       <div class="row">
        <input type="password" ngModel name="password" placeholder="password" required>
        <a routerLink="/reset">forget password?
        </a>
        </div>
        <span>{{msg}}</span>
        <button [disabled]="!data.valid" type="submit">Login</button>
    </form>
</body>

</html>